html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; }

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5e003+0,ee2624+27,433a97+100 */
  background: #f5e003;
  /* Old browsers */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f5e003 0%, #ee2624 27%, #433a97 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f5e003 0%, #ee2624 27%, #433a97 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5e003', endColorstr='#433a97',GradientType=0 );
  /* IE6-9 */ }

a {
  color: white;
  text-decoration: none; }

.scca:hover, .scca:focus {
  color: red;
}

.social:hover, .social:focus, .snapchat:hover, .snapchat:focus {
  -webkit-animation-name: tremblelink;
          animation-name: tremblelink;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear; }

.full-page {
  height: 100%;
  width: 100%;
  position: relative; }

canvas {
  position: fixed;
  width: 100%;
  height: 100%; }

@media (max-width: 1024px) {
  canvas {
    display: none; } }
.logo {
  width: 30%;
  position: fixed;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

@media (max-width: 768px) {
  .logo {
    width: 50%; } }
.logo img {
  width: 100%; }

.logo svg {
  width: 100%;
  -webkit-transform: scale(0.8);
          transform: scale(0.8); }

#stamp {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

#biglogo:hover,
#biglogo:focus {
  -webkit-animation-name: tremble;
          animation-name: tremble;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear; }

.text {
  position: fixed;
  width: 10%;
  top: 4%;
  left: 3%; }

.snapchat {
  position: fixed;
  bottom: 3%;
  left: 3%; }

.scca {
  position: fixed;
  bottom: 3%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

.social {
  position: fixed;
  bottom: 3%;
  right: 3%; }



.stamp {
  margin-top: -10%; }

h1 {
  font-size: 1.15rem;
  font-weight: normal; }

/*
**WAVES**
*/
.top-wave5 {
  background: url("images/wavestroke.svg");
  background-repeat: repeat-x;
  position: fixed;
  top: 10%;
  width: 400%;
  height: 82px;
  -webkit-animation: wave 14s cubic-bezier(0.35, 0.45, 0.65, 0.25) alternate infinite;
          animation: wave 14s cubic-bezier(0.35, 0.45, 0.65, 0.25) alternate infinite;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0) rotate(180deg);
          transform: translate3d(0, 0, 0) rotate(180deg); }

.top-wave4 {
  background: url("images/wavestroke.svg");
  background-repeat: repeat-x;
  position: fixed;
  top: 5%;
  width: 400%;
  height: 46px;
  -webkit-animation: wave 7s cubic-bezier(0.35, 0.45, 0.65, 0.25) alternate infinite;
          animation: wave 7s cubic-bezier(0.35, 0.45, 0.65, 0.25) alternate infinite;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0) rotate(180deg);
          transform: translate3d(0, 0, 0) rotate(180deg); }

.top-wave3 {
  background: url("images/wavestroke.svg");
  background-repeat: repeat-x;
  position: fixed;
  top: 15%;
  width: 400%;
  height: 90px;
  -webkit-animation: wave 15s cubic-bezier(0.35, 0.45, 0.65, 0.25) alternate infinite;
          animation: wave 15s cubic-bezier(0.35, 0.45, 0.65, 0.25) alternate infinite;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0) rotate(180deg);
          transform: translate3d(0, 0, 0) rotate(180deg); }

.top-wave2 {
  background: url("images/wavestroke.svg");
  background-repeat: repeat-x;
  position: absolute;
  top: 30%;
  width: 400%;
  height: 130px;
  -webkit-animation: wave 8s cubic-bezier(0.35, 0.45, 0.65, 0.25) alternate infinite;
          animation: wave 8s cubic-bezier(0.35, 0.45, 0.65, 0.25) alternate infinite;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

.top-wave1 {
  background: url("images/wavestroke.svg");
  background-repeat: repeat-x;
  position: absolute;
  top: 40%;
  width: 400%;
  height: 88px;
  -webkit-animation: wave 12s cubic-bezier(0.35, 0.45, 0.65, 0.25) alternate infinite;
          animation: wave 12s cubic-bezier(0.35, 0.45, 0.65, 0.25) alternate infinite;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

.bottom-wave5 {
  background: url("images/wavestroke.svg");
  background-repeat: repeat-x;
  position: absolute;
  top: 55%;
  width: 400%;
  height: 50px;
  -webkit-animation: wave 7s cubic-bezier(0.35, 0.45, 0.65, 0.25) alternate infinite;
          animation: wave 7s cubic-bezier(0.35, 0.45, 0.65, 0.25) alternate infinite;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

.bottom-wave4 {
  background: url("images/wavestroke.svg");
  background-repeat: repeat-x;
  position: absolute;
  top: 65%;
  width: 400%;
  height: 71px;
  -webkit-animation: wave 18s cubic-bezier(0.35, 0.45, 0.65, 0.25) alternate infinite;
          animation: wave 18s cubic-bezier(0.35, 0.45, 0.65, 0.25) alternate infinite;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

.bottom-wave3 {
  background: url("images/wavestroke.svg");
  background-repeat: repeat-x;
  position: absolute;
  top: 70%;
  width: 400%;
  height: 156px;
  -webkit-animation: wave 5s cubic-bezier(0.35, 0.45, 0.65, 0.25) alternate infinite;
          animation: wave 5s cubic-bezier(0.35, 0.45, 0.65, 0.25) alternate infinite;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

.bottom-wave2 {
  background: url("images/wavestroke.svg");
  background-repeat: repeat-x;
  position: absolute;
  bottom: 15%;
  width: 400%;
  height: 52px;
  -webkit-animation: wave 17s linear alternate infinite;
          animation: wave 17s linear alternate infinite;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

.bottom-wave1 {
  background: url("images/wavestroke.svg");
  background-repeat: repeat-x;
  position: absolute;
  bottom: 5%;
  width: 400%;
  height: 40px;
  -webkit-animation: wave 6s linear alternate infinite;
          animation: wave 6s linear alternate infinite;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

.wave-wrap {
  background: transparent;
  display: inline-block;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 0;
  bottom: 0;
  left: 0; }

  .logo-ie {
    display: none;
    width: 30%;
    position: fixed;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .logo-ie img {
    width: 100%;
  }
  #stamp-ie {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }

  #biglogo-ie {
    -webkit-transform: scale(0.8);
          transform: scale(0.8);
  }

  #biglogo-ie:hover,
  #biglogo-ie:focus {
    -webkit-animation-name: tremble;
            animation-name: tremble;
    -webkit-animation-duration: 0.2s;
            animation-duration: 0.2s;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear; }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
/* IE10+ CSS styles go here */
  .wave-wrap {
    display: none;
  }
  .logo {
    display: none;
  }
  .logo-ie {
    display: block;
  }
}


/**
ANIMATION KEYFRAMES
**/
@-webkit-keyframes wave {
  0% {
    margin-left: 0; }
  100% {
    margin-left: -200%; } }
@keyframes wave {
  0% {
    margin-left: 0; }
  100% {
    margin-left: -200%; } }
@keyframes wave {
  0% {
    margin-left: 0; }
  100% {
    margin-left: -200%; } }
/*@keyframes tremble {
  0% { transform: translate(-52%, -51%) rotate(0deg); }
  10% { transform: translate(-49%, -48%) rotate(-1deg); }
  20% { transform: translate(-47%, -50%) rotate(1deg); }
  30% { transform: translate(-50%, -52%) rotate(0deg); }
  40% { transform: translate(-51%, -49%) rotate(1deg); }
  50% { transform: translate(-49%, -52%) rotate(-1deg); }
  60% { transform: translate(-47%, -51%) rotate(0deg); }
  70% { transform: translate(-52%, -51%) rotate(-1deg); }
  80% { transform: translate(-49%, -49%) rotate(1deg); }
  90% { transform: translate(-52%, -52%) rotate(0deg); }
  100% { transform: translate(-51%, -52%) rotate(-1deg); }
}*/
@-webkit-keyframes tremble {
  0% {
    -webkit-transform: scale(0.8) translate(-2px, -1px) rotate(0deg);
            transform: scale(0.8) translate(-2px, -1px) rotate(0deg); }
  10% {
    -webkit-transform: scale(0.8) translate(-9px, -8px) rotate(-1deg);
            transform: scale(0.8) translate(-9px, -8px) rotate(-1deg); }
  20% {
    -webkit-transform: scale(0.8) translate(-7px, 0px) rotate(1deg);
            transform: scale(0.8) translate(-7px, 0px) rotate(1deg); }
  30% {
    -webkit-transform: scale(0.8) translate(0px, -2px) rotate(0deg);
            transform: scale(0.8) translate(0px, -2px) rotate(0deg); }
  40% {
    -webkit-transform: scale(0.8) translate(-1px, -9px) rotate(1deg);
            transform: scale(0.8) translate(-1px, -9px) rotate(1deg); }
  50% {
    -webkit-transform: scale(0.8) translate(-9px, -2px) rotate(-1deg);
            transform: scale(0.8) translate(-9px, -2px) rotate(-1deg); }
  60% {
    -webkit-transform: scale(0.8) translate(-7px, -1px) rotate(0deg);
            transform: scale(0.8) translate(-7px, -1px) rotate(0deg); }
  70% {
    -webkit-transform: scale(0.8) translate(-2px, -1px) rotate(-1deg);
            transform: scale(0.8) translate(-2px, -1px) rotate(-1deg); }
  80% {
    -webkit-transform: scale(0.8) translate(-9px, -9px) rotate(1deg);
            transform: scale(0.8) translate(-9px, -9px) rotate(1deg); }
  90% {
    -webkit-transform: scale(0.8) translate(-2px, -2px) rotate(0deg);
            transform: scale(0.8) translate(-2px, -2px) rotate(0deg); }
  100% {
    -webkit-transform: scale(0.8) translate(-1px, -2px) rotate(-1deg);
            transform: scale(0.8) translate(-1px, -2px) rotate(-1deg); } }
@keyframes tremble {
  0% {
    -webkit-transform: scale(0.8) translate(-2px, -1px) rotate(0deg);
            transform: scale(0.8) translate(-2px, -1px) rotate(0deg); }
  10% {
    -webkit-transform: scale(0.8) translate(-9px, -8px) rotate(-1deg);
            transform: scale(0.8) translate(-9px, -8px) rotate(-1deg); }
  20% {
    -webkit-transform: scale(0.8) translate(-7px, 0px) rotate(1deg);
            transform: scale(0.8) translate(-7px, 0px) rotate(1deg); }
  30% {
    -webkit-transform: scale(0.8) translate(0px, -2px) rotate(0deg);
            transform: scale(0.8) translate(0px, -2px) rotate(0deg); }
  40% {
    -webkit-transform: scale(0.8) translate(-1px, -9px) rotate(1deg);
            transform: scale(0.8) translate(-1px, -9px) rotate(1deg); }
  50% {
    -webkit-transform: scale(0.8) translate(-9px, -2px) rotate(-1deg);
            transform: scale(0.8) translate(-9px, -2px) rotate(-1deg); }
  60% {
    -webkit-transform: scale(0.8) translate(-7px, -1px) rotate(0deg);
            transform: scale(0.8) translate(-7px, -1px) rotate(0deg); }
  70% {
    -webkit-transform: scale(0.8) translate(-2px, -1px) rotate(-1deg);
            transform: scale(0.8) translate(-2px, -1px) rotate(-1deg); }
  80% {
    -webkit-transform: scale(0.8) translate(-9px, -9px) rotate(1deg);
            transform: scale(0.8) translate(-9px, -9px) rotate(1deg); }
  90% {
    -webkit-transform: scale(0.8) translate(-2px, -2px) rotate(0deg);
            transform: scale(0.8) translate(-2px, -2px) rotate(0deg); }
  100% {
    -webkit-transform: scale(0.8) translate(-1px, -2px) rotate(-1deg);
            transform: scale(0.8) translate(-1px, -2px) rotate(-1deg); } }
@-webkit-keyframes tremblelink {
  0% {
    -webkit-transform: translate(-2px, -1px) rotate(0deg);
            transform: translate(-2px, -1px) rotate(0deg); }
  10% {
    -webkit-transform: translate(-9px, -8px) rotate(-1deg);
            transform: translate(-9px, -8px) rotate(-1deg); }
  20% {
    -webkit-transform: translate(-7px, 0px) rotate(1deg);
            transform: translate(-7px, 0px) rotate(1deg); }
  30% {
    -webkit-transform: translate(0px, -2px) rotate(0deg);
            transform: translate(0px, -2px) rotate(0deg); }
  40% {
    -webkit-transform: translate(-1px, -9px) rotate(1deg);
            transform: translate(-1px, -9px) rotate(1deg); }
  50% {
    -webkit-transform: translate(-9px, -2px) rotate(-1deg);
            transform: translate(-9px, -2px) rotate(-1deg); }
  60% {
    -webkit-transform: translate(-7px, -1px) rotate(0deg);
            transform: translate(-7px, -1px) rotate(0deg); }
  70% {
    -webkit-transform: translate(-2px, -1px) rotate(-1deg);
            transform: translate(-2px, -1px) rotate(-1deg); }
  80% {
    -webkit-transform: translate(-9px, -9px) rotate(1deg);
            transform: translate(-9px, -9px) rotate(1deg); }
  90% {
    -webkit-transform: translate(-2px, -2px) rotate(0deg);
            transform: translate(-2px, -2px) rotate(0deg); }
  100% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg); } }
@keyframes tremblelink {
  0% {
    -webkit-transform: translate(-2px, -1px) rotate(0deg);
            transform: translate(-2px, -1px) rotate(0deg); }
  10% {
    -webkit-transform: translate(-9px, -8px) rotate(-1deg);
            transform: translate(-9px, -8px) rotate(-1deg); }
  20% {
    -webkit-transform: translate(-7px, 0px) rotate(1deg);
            transform: translate(-7px, 0px) rotate(1deg); }
  30% {
    -webkit-transform: translate(0px, -2px) rotate(0deg);
            transform: translate(0px, -2px) rotate(0deg); }
  40% {
    -webkit-transform: translate(-1px, -9px) rotate(1deg);
            transform: translate(-1px, -9px) rotate(1deg); }
  50% {
    -webkit-transform: translate(-9px, -2px) rotate(-1deg);
            transform: translate(-9px, -2px) rotate(-1deg); }
  60% {
    -webkit-transform: translate(-7px, -1px) rotate(0deg);
            transform: translate(-7px, -1px) rotate(0deg); }
  70% {
    -webkit-transform: translate(-2px, -1px) rotate(-1deg);
            transform: translate(-2px, -1px) rotate(-1deg); }
  80% {
    -webkit-transform: translate(-9px, -9px) rotate(1deg);
            transform: translate(-9px, -9px) rotate(1deg); }
  90% {
    -webkit-transform: translate(-2px, -2px) rotate(0deg);
            transform: translate(-2px, -2px) rotate(0deg); }
  100% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg); } }
